body{
    padding: 50px;

}
container{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
}
.form-groub{
    margin-bottom: 30px;
}
.box
{
  position: relative;
  width: 370px;
  height: 450px;
   background: #1c1c1c;
   border-radius: 50px  50px;
}